<!DOCTYPE html>
<html lang="en">
    <head>    
        {{#if htmlWebpackPlugin.options.meta}}
            {{#each htmlWebpackPlugin.options.meta as |meta_item meta_key| }}
                {{#each meta_item}}
                    <meta name="{{@key}}" content="{{this}}">
                {{/each}}
            {{/each}}
        {{/if}}
        <title>{{htmlWebpackPlugin.options.title}}</title>
    </head>
    <body>
        <div id="mount-point"></div>
    </body>
</html>