<!DOCTYPE html>
<html lang="en">
    <head>
        {{#if htmlWebpackPlugin.options.meta}}
            {{#each htmlWebpackPlugin.options.meta as |meta_item meta_key| }}
                {{#each meta_item}}
                    <meta name="{{@key}}" content="{{this}}">
                {{/each}}
            {{/each}}
        {{/if}}

        <title>{{htmlWebpackPlugin.options.title}}</title>
    
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    </head>
    <body>
        <header class="index-header block-container">
            <div class="info-block">
                <h1>It's time to get things done.</h1>
                <p>Build habits and manage your life with Faithful.</p>
            </div>
            <div class="login-block">
                <p>Let's get started:</p>
                <div id="firebaseui-auth-container"></div>
            </div>
        </header>
    </body>
</html>