@import 'variables';

.card-container {
    display: block;
    width: 100%;
}

.card {
    display: block;
    width: 100%;

    padding-top: $cardpadding-top;

    line-height: 1.2;
    font-size: 16px;
    text-align: center;

    h1 {
        font-size: 3rem;
    }
}