@import "./variables.scss";

@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html,
body {
    margin: 0px;
    padding: 0px;

    font-family: "Fira Sans", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;

    background-color: $page-bg-color;
    color: $page-text-color;
}

.center {
    max-width: $content-width;
    margin: 0vh auto;
}

.full-page-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.viewport {
    height: calc(100vh - #{$appbar-height})
}

.block-container {
    display: flex;
}

@mixin block($bg_color: none, $r: 13px, $padding: 13px, $margin: 8px auto) {
    border-radius: $r;

    padding: $padding;
    margin: $margin;

    background-color: $bg_color;

    & > *:first-child {
        margin-top: 0;
    }
}