@import "common.scss";

.index-header {
    background-image: linear-gradient(#ffd9b8, $page-bg-color);

    height: 60vh;

    padding: 8px;

    align-items: center;
    flex-wrap: wrap;
}

.info-block {
    @include block();
}

.login-block {
    @include block(white);
    box-shadow: 0 4px 8px -2px;
}