html,
body {
    margin: 0px;
    padding: 0px;
}

#vue-app {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.card-list {
    display: block;

    width: 768px;
    height: 100vh;

    overflow-y: hidden;

    margin: 0 auto;
}

.card {
    display: block;
    width: 100%;
    margin-bottom: 40vh;

    opacity: 0.3;
    transition: opacity 0.5s;
}

.card:first-of-type {
    margin-top: 40vh;
}

.card.active {
    opacity: 1.0 !important;
    transition: opacity 0.5s;
}

