html,
body {
    margin: 0px;
    padding: 0px;
}

.x-center {
    max-width: 768px;
    margin: 0vh auto;
}

.card-list {
    display: block;
}

.card {
    display: block;
    width: 100%;
    height: 80vh;
    padding-top: 20vh;

    opacity: 1;
}

.card.done {
    opacity: 0.3 !important;

    transition: opacity 0.3s;
}

