html,
body {
    margin: 0px;
    padding: 0px;
}

.x-center {
    max-width: 768px;
    margin: 0vh auto;
}

.card-list {
    display: block;
}

.card {
    display: block;
    width: 100%;

    opacity: 0.3;
    transition: opacity 0.5s;
}

.card.active {
    opacity: 1.0 !important;
    transition: opacity 0.5s;
}

