<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>Faithful</title>
        <link href="{{ url_for('static', filename='css/index.scss.css') }}" rel="stylesheet" type="text/css">
    
        <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
        <script>
            const uiConfig = {
                signInSuccessUrl: "{{ url_for('.oauth2signin') }}",
                signInOptions: [
                    firebase.auth.GoogleAuthProvider.PROVIDER_ID
                ]
            };

            const ui = new firebase.auth.AuthUI(firebase.auth());
            ui.start('#firebase-auth-container', uiConfig);
        </script>
    </head>
    <body>
        <header class="index-header block-container">
            <div class="info-block">
                <h1>It's time to get things done.</h1>
                <p>Build habits and manage your life with Faithful.</p>
            </div>
            <div class="login-block">
                <p>Sign in.</p>
                <div id="firebaseui-auth-container"></div>
            </div>
        </header>
    </body>
</html>